<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="class-list">
      <ul>
        <% userList.forEach((item)=>{ %>
        <li><%= item.name%></li>
        <% }) %>
      </ul>
    </div>

    <form action="/user" method="POST">
      <label for="user">User</label>
      <input type="text" name="user" id="user" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
